<?xml version='1.0' encoding='utf-8'?>
<!--
     SPDX-FileCopyrightText: 2026 LumineDroid
     SPDX-License-Identifier: Apache-2.0
-->
<manifest>

  <!-- devices -->
  <project path="device/xiaomi/topaz" name="android_device_xiaomi_topaz" remote="lumine-devices"/>
  <project path="device/xiaomi/topaz-kernel" name="android_device_xiaomi_topaz-kernel" remote="lumine-devices"/>
  <project path="device/qcom/sepolicy_vndr/sm6225" name="HexaUnion/android_device_qcom_sepolicy_vndr" groups="qcom,divar-vendor" remote="github" revision="lineage-23.2-caf-sm6225"/>

  <!-- hardware -->
  <project path="hardware/qcom-caf/sm6225/audio/agm" name="HexaUnion/android_vendor_qcom_opensource_agm" groups="qcom,divar-audio" remote="github" revision="lineage-23.2-caf-sm6225"/>
  <project path="hardware/qcom-caf/sm6225/audio/graphservices" name="HexaUnion/android_vendor_qcom_opensource_audioreach-graphservices" groups="qcom" remote="github" revision="lineage-23.2-caf-sm6225" />
  <project path="hardware/qcom-caf/sm6225/audio/pal" name="HexaUnion/android_vendor_qcom_opensource_arpal-lx" groups="qcom,divar-audio" remote="github" revision="lineage-23.2-caf-sm6225"/>
  <project path="hardware/qcom-caf/sm6225/audio/primary-hal" name="HexaUnion/android_hardware_qcom_audio-ar" groups="qcom,divar-audio" remote="github" revision="lineage-23.2-caf-sm6225"/>
  <project path="hardware/qcom-caf/sm6225/data-ipa-cfg-mgr" name="HexaUnion/android_vendor_qcom_opensource_data-ipa-cfg-mgr" groups="qcom,divar-vendor" remote="github" revision="lineage-23.2-caf-sm6225"/>
  <project path="hardware/qcom-caf/sm6225/dataipa" name="HexaUnion/android_vendor_qcom_opensource_dataipa" groups="qcom,divar-vendor" remote="github" revision="lineage-23.2-caf-sm6225" />
  <project path="hardware/qcom-caf/sm6225/display" name="HexaUnion/android_hardware_qcom_display" groups="qcom" remote="github" revision="lineage-23.2-caf-sm6225"/>
  <project path="hardware/xiaomi" name="platform_hardware_xiaomi" remote="lumine" />

  <!-- vendor -->
  <project path="vendor/xiaomi/topaz" name="proprietary_vendor_xiaomi_topaz" remote="lumine-devices"/>

</manifest>
